////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
//     ___              _ _           _   _               //
//    / _ \            | (_)         | | (_)              //
//   / /_\ \_ __  _ __ | |_  ___ __ _| |_ _  ___  _ __    //
//   |  _  | '_ \| '_ \| | |/ __/ _` | __| |/ _ \| '_ \   //
//   | | | | |_) | |_) | | | (_| (_| | |_| | (_) | | | |  //
//   \_| |_/ .__/| .__/|_|_|\___\__,_|\__|_|\___/|_| |_|  //
//         | |   | |                                      //
//         |_|   |_|                                      //
//                                                        //
////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////

// Body
body
  margin: 0
  padding: 0

  // Container
  // Messed up on Shopify
  > .container
    width: 100% !important
    padding: 0 !important

  // Table
  // Styling for the table on the home page
  table
    &.charms
      border:
        spacing: 0
        collapse: 0
      tr
        &:first-of-type
          td
            &:not(.charm)
              border:
                bottom: 2px solid rgba(0,0,0,1)
        td,
        th
          &.charm2
            border:
              right: 2px solid black

      thead
        th
          background: rgba(#ddd, 1)
          padding:    10px 0
          &.charm
            color: rgba(255,255,255,1)
            background: rgba(0,0,0,1)
          &:not(.charm)
            padding: 10px 0
            border:
              bottom: 2px solid rgba(0,0,0,1)

      tbody
        tr
          &:not(.bails)
            td
              &.zero
                & ~ .zero
                  border:
                    left: 2px solid rgba(0,0,0,1)
            &:not(.zero)
              td
                border:
                  top: 1px solid rgba(200,200,200,1)
          &.zero
            td
              border:
                top: 2px solid rgba(0,0,0,1)
          &.bails
            td
              &:not(.charm)
                color: rgba(255,255,255,1)
                background: rgba(0,0,0,1)
          td
            &.charm
              text:
                align: center
            &.regular
              border:
                left: 2px solid rgba(0,0,0,1)

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////
